@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navbar: var(--navbar-bg);
  --color-navbar-hover: var(--navbar-hover);

  --color-navbar-join: var(--navbar-join);
  --color-navbar-join-hover: var(--navbar-join-hover);

  --color-navbar-dropdown: var(--navbar-dropdown);

  --font-outfit: "Outfit", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  
  --navbar-bg: #222032;
  --navbar-hover: #000000;

  --navbar-join: #83003d;
  --navbar-join-hover: #ee81b4;

  --navbar-dropdown: #b6b6b6;
}

.dark {
  --background: #191724;
  --foreground: #E0DEF4;

  --navbar-bg: #222032;
  --navbar-hover: #ffffff15;

  --navbar-join: #f2a2c8;
  --navbar-join-hover: #ee81b4;

  --navbar-dropdown: #3f3a64;
}