@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navbar: var(--navbar-bg);
  --color-navbar-hover: var(--navbar-hover);

  --color-navbar-join: var(--navbar-join);
  --color-navbar-join-hover: var(--navbar-join-hover);

  --color-navbar-dropdown: var(--navbar-dropdown);

  --color-eventCard: var(--event-bg);

  --color-eventView: var(--event-view);
  --color-eventView-hover: var(--event-view-hover);

  --color-header-border: var(--header-border);

  --color-gallery-hover: var(--gallery-hover);

  --font-outfit: "Outfit", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-roboto: "Roboto", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-navbar: 1050px;
  --breakpoint-2xl: 1700px;
  --breakpoint-xl: 1400px;
  --breakpoint-lg: 1080px;
  --breakpoint-md: 824px;
  --breakpoint-sm: 696px;
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  display: block;
  white-space: pre-wrap;
}
.markdown-content ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  display: block;
  white-space: pre-wrap;
}


:root {
  --background: #ffffff;
  --foreground: #000000;
  
  --navbar-bg: #222032;
  --navbar-hover: #000000;

  --navbar-join: #83003d;
  --navbar-join-hover: #ee81b4;

  --navbar-dropdown: #b6b6b6;

  --header-border: #ee81b4;

  --event-bg: #3f3a64;
  --event-view: #222032;
  --event-view-hover: #2f2c4b;

  --gallery-hover: #f2a2c8;
}

.dark {
  --background: #191724;
  --foreground: #faeded;

  --navbar-bg: #222032;
  --navbar-hover: #ffffff15;

  --navbar-join: #f2a2c8;
  --navbar-join-hover: #ee81b4;

  --navbar-dropdown: #3f3a64;

  --event-bg: #3f3a64a4;
  --event-view: #2f2c4b;
  --event-view-hover: #373452;

  --gallery-hover: #ff7cb9;
}