@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navbar: var(--navbar-bg);
  --color-navbar-hover: var(--navbar-hover);

  --color-navbar-join: var(--navbar-join);
  --color-navbar-join-hover: var(--navbar-join-hover);

  --color-navbar-dropdown: var(--navbar-dropdown);

  --color-eventCard: var(--event-bg);

  --color-eventView: var(--event-view);
  --color-eventView-hover: var(--event-view-hover);

  --color-header-border: var(--header-border);

  --color-gallery-hover: var(--gallery-hover);

  --color-theme-switch: var(--theme-switch-bg);

  --color-sidebar: var(--sidebar-bg);
  --color-sidebar-hover: var(--sidebar-hover);
  --color-sidebar-logout: var(--sidebar-logout);

  --color-crumbs-hover: var(--admin-hover);
  --color-admin-edit: var(--admin-edit);

  --color-announce-default: var(--announce-default);
  --color-event-default: var(--event-default);

  --font-outfit: "Outfit", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-roboto: "Roboto", sans-serif;

  --breakpoint-*: initial;
  --breakpoint-navbar: 1050px;
  --breakpoint-2xl: 1700px;
  --breakpoint-xl: 1400px;
  --breakpoint-lg: 1080px;
  --breakpoint-md: 824px;
  --breakpoint-sm: 696px;
  --breakpoint-xs: 350px;
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  display: block;
  white-space: pre-wrap;
}
.markdown-content ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  display: block;
  white-space: pre-wrap;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  
  --navbar-bg: #ffe8f2;
  --navbar-hover: #d1d1d1;

  --navbar-join: #ee81b4;
  --navbar-join-hover: #e74c95;

  --navbar-dropdown: #a5a5a5;

  --header-border: #ee81b4;

  --event-bg: #ffdeed;
  --event-view: #ee81b4;
  --event-view-hover: #e74c95;

  --gallery-hover: #f2a2c8;

  --theme-switch-bg: #ffa2ccc7;

  --sidebar-bg: #ffe8f2;
  --sidebar-hover: #d1d1d1;
  --sidebar-logout: #ffdeed;

  --admin-hover: #ffdeed;
  --admin-edit: #9e93ffa2;

  --announce-default: #dadada;
  --event-default: #4d459c;
}

.dark {
  --background: #191724;
  --foreground: #faeded;

  --navbar-bg: #222032;
  --navbar-hover: #ffffff15;

  --navbar-join: #f2a2c8;
  --navbar-join-hover: #ee81b4;

  --navbar-dropdown: #3f3a64;

  --event-bg: #3f3a64a4;
  --event-view: #2f2c4b;
  --event-view-hover: #373452;

  --gallery-hover: #ff7cb9;

  --theme-switch-bg: #3f3a64a4;

  --sidebar-bg: #232138;
  --sidebar-hover: #ffffff15;

  --sidebar-logout: #36325e;
  --admin-edit: #9e93ffa2;
  --admin-hover: #685ec0a2;

  --announce-default: #4d459c;
  --event-default: #7d5fa5;
}